@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Silkscreen&display=swap');
/*
font-family: 'Noto Sans', sans-serif;
font-family: 'Silkscreen', cursive;
*/
*{
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color:beige;
    font-family:'Noto Sans', sans-serif
}
header{
    width: 100%;
    font-family:'Noto Sans', sans-serif;
    align-items: center;
}
.welcomeBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../assets/banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    flex-grow: 1;
    height: 15vh;
    padding: 0 20px;
}
/*.logo img{
    height: 20%;
    max-width: 20%;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-size: 55vh;
    width: 25vh;
}*/
h1{
    font-family:'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 4.0rem;
    font-weight: bold;
    color: antiquewhite;
}

/*----barra de navegacion-----*/
nav{
    display: flex;
    justify-content: center;
    height: 50px;
}
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 50px;
    font-size: 2.5rem;
    margin: 10px;
    border: 1px;
    padding: 0;
}
ul li{
    display: inline-block;
    list-style: none; 
}
.navBar li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}
.navBar li a:hover{
    color: rgba(255, 0, 128, 0.394);
}
/*------fin barra de navegacion------*/

/*-------mains--------*/

/*------home--------*/

.featuredProductsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.featuredProducts{
    display: inline-block;
    margin: 10px;
    width: 320px;
    height: 420px;
}


/*------Fin home--------*/

/*------Shop--------*/


/*------Fin shop--------*/

/*------about --------*/
.aboutContent{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    height: 60vh;
    line-height: 1.4;
    white-space: pre-line;
}
.highlight {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.719);
}
.highlight:hover{
    color: rgba(255, 0, 128, 0.394);
}


/*------Fin about--------*/

/*------contact--------*/
fieldset {
    padding: 20px;
    width: 45%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.mailingList{
    font-family: 'Noto Sans' ;
    font-weight: bold;
    font-size: 1.6rem;
    }
form{
    height: 50vh;
    margin-bottom: 10px;
    margin-left: 20px;
}
label{
    font-size: 1.2rem;
}
.formStyle{
    font-size: 1.3rem;
}


/*------Fin contact--------*/

.faq {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

/*------faq--------*/


/*------Fin faq--------*/

/*------fin mains------*/


/*-------footer------*/
h3{
    font-size: 1.4rem;
}
.footer{
    background-image: url("../assets/banner1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.socials{
    height: 15%;
    display: inline-block;
    grid-column: 3/4;
    justify-self: right;
}
.networks{
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content:right;
    gap: 20px;
}
.iconStyle{
    height:40px;
    margin-left:20px;
    margin-top:5px;
}

/*-----fin footer------*/