/*-------faq------*/
fieldset {
    padding: 20px;
    width: 45%;
    margin-bottom: 5px;
    margin-top: 5px;
}
.mailingList{
    font-family: 'Noto Sans' ;
    font-weight: bold;
    font-size: 1.6rem;
    }
form{
    height: 50vh;
    margin-bottom: 10px;
    margin-left: 20px;
}
label{
    font-size: 1.2rem;
}
.formStyle{
    font-size: 1.3rem;
}

