/*-------index------*/
.carouselText{
    color: #fff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-weight: bold; 
    font-size: 16px; 
}
.featuredProductsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
}
.mainH2{
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.featuredProducts{
    margin: 3px;
    border-radius: 50px;
    display: inline-block;
    width: 340px;
    height: 450px;
}
.productsDesc{
    margin-left: 20px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    
}
